@import '../styles/palette.scss';

.filter {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $filterBgColor;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
}