@import '../../styles/palette.scss';
@import '../../styles/mixins.scss';

.details {
    @include font-montserrat;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 50%;
    height: 400px;
    background-color: $detailsBgColor;
    border-radius: 5px;

    &__sidebar {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__poster {
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px 0 0 5px;
    }

    &__title {
        font-size: 22px;
        padding-left: 20px;
        padding-right: 55px;
    }

    &__popularity {
        @include popularity;
        bottom: 0;
        right: 0;
        padding: 10px 20px;
        font-size: 20px;
    }

    &__overview {
        font-size: 16px;
        line-height: 25px;
        padding: 0 20px;
    }

    &__release-date {
        padding-left: 20px;
    }
}

.close {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 32px;
    height: 32px;
    transition: opacity ease .2s;

    &:hover {
        cursor: pointer;
        opacity: .6;
    }

    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: $filterBgColor;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}