.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;

    &:hover {
        transform: scale(1.01);
        cursor: pointer;
    }
}