@import '../../styles/palette.scss';
@import '../../styles/mixins.scss';

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    margin: 10px;
    border-radius: 5px;

    .popularity {
        @include font-montserrat;
        @include popularity;
        top: 0;
        left: 0;
        padding: 5px 15px;
    }

    &:hover {
        transform: scale(1.01);
        cursor: pointer;
    }
}